# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# IDE config files
.idea
.vscode
.DS_Store

vendor/

.env*
!.env.example

gateway-config.yml*
!gateway-config.yml.example

go.work
go.work.*

bin/
bin/*
